// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    font-height: 1.25em;
}

.search-right {
    margin-left:auto;
    margin-right: 0px;
    float: right;
}

.search-left {
    margin-right: auto;
    margin-left: 0px;
    text-align: left;
    float: left;
}

.search-content {
    width: 650px;
}

.search-result {
    width: 450px;
    float: left;
}
